/* 
 * Author: Joshua Connor
 * Date: 2024-06-05
 * Description: Main CSS file for CSC 235 Bootstrap Sample
 */ 

 /* Custom Fonts */

:root {
  --font-roboto-slab: "Roboto Slab", serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

.roboto-slab {
  font-family: var(--font-roboto-slab);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nunito-sans {
  font-family: var(--font-nunito-sans);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
  font-family: var(--font-nunito-sans);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto-slab);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

 /* In custom.css */
.btn-primary {
  background-color: #ff0000; /* Your new color */
  border-color: #ccff00;
}